.callback {
  background-color: $color-basic-blue;
  color: $color-default-white;
  padding: 70px 0 68px;

  @include vp-1199 {
    padding: 70px 0 68px;
  }
}

.callback__container {
  width: 600px;
  padding: 0 20px;
  margin: 0;
  margin-left: auto;

  @include vp-1199 {
    width: 768px;
    padding: 0 133px;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 100%;
    padding: 0 15px;
  }
}

.callback h2 {
  color: $color-default-white;

  @include vp-1199 {
    text-align: start;
  }
}

.callback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 410px;
  margin-top: 38px;

  @include vp-1199 {
    width: 100%;
    margin-top: 32px;
    padding-right: 30px;
  }

  @include vp-767 {
    margin-top: 0;
    padding: 0;
  }
}

.callback__form input {
  display: inline-block;
  width: 190px;
  padding: 4px 0 6px;
  border: none;
  border-bottom: 1px solid $color-form-border;
  background-color: $color-transparent;
  color: $color-default-white;
  font-size: 14px;
  line-height: 16px;

  &::placeholder {
    color: $color-default-white;
    opacity: 0.5;
  }

  @include vp-1199 {
    width: 206px;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 35px;
  }
}

.callback button {
  width: 100%;
  margin-top: 30px;
  padding: 16px;
  background-color: $color-transparent;
  color: $color-default-white;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 3px solid $color-default-white;

  &:hover {
    background-color: $color-default-white;
    color: $color-basic-blue;
  }

  @include vp-767 {
    margin-top: 35px;
  }
}
