.page {
  font-family: $font-roboto;
  scroll-behavior: smooth;
}

.page__body {
  overflow-x: hidden;
}

.page__section {
  padding: 120px 0;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0;
  }
}

.page__section-heading {
  font-family: $font-bebas;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  color: $color-basic-blue;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
  }
}

.page__sections-connector {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-1199 {
    grid-template-columns: auto;
  }
}
