.promo {
  background: $promo-conic-gradient;
  padding-top: 50px;
  padding-bottom: 52px;
  color: $color-default-white;

  @include vp-1199 {
    padding: 82px 0;
  }

  @include vp-767 {
    padding: 65px 0;
    padding-bottom: 78px;
  }
}

.promo__container {
  display: flex;
  justify-content: center;
}

.promo__text {
  text-align: end;

  @include vp-767 {
    width: 100%;
  }
}

.promo p {
  margin-top: 122px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: $font-bebas;
  font-weight: 400;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-top: 52px;
    font-size: 34px;
    line-height: 41px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 24px;
  }
}

.promo__heading {
  display: flex;
  padding-top: 13px;

  @include vp-1199 {
    padding-top: 3px;
  }

  @include vp-767 {
    justify-content: center;
    padding-top: 14px;
  }
}

.promo h1 {
  margin-top: 0;
  margin-bottom: 68px;
  text-transform: uppercase;
  font-family: $font-bebas;
  font-weight: 700;
  font-size: 109px;
  line-height: 109px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: 55px;
    font-size: 86px;
    line-height: 86px;
  }

  @include vp-767 {
    margin-bottom: 40px;
    font-size: 78px;
    line-height: 78px;
  }
}

.promo ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.promo__heading ul {
  padding-left: 20px;
  margin-top: 122px;
  margin-right: -34px;
  margin-bottom: -50px;

  @include vp-1199 {
    padding-left: 0;
    margin-top: 90px;
    margin-right: -24px;
    min-width: 113px;
  }

  @include vp-767 {
    margin-top: 77px;
    margin-right: -36px;
    margin-bottom: 10px;
  }
}

.promo a {
  color: inherit;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  &:hover {
    text-shadow: 0px 0px 6px $color-default-black;
    box-shadow: 0px 0px 6px $color-default-black;
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
  }
}

.promo__text a {
  padding: 20px 55px;
  border: 4px solid $color-default-white;
  font-weight: 700;
  letter-spacing: 0.05em;

  @include vp-1199 {
    padding: 20px 30px;
  }

  @include vp-767 {
    display: block;
    text-align: center;
  }
}

.promo img {
  object-fit: cover;
  margin-left: 65px;

  @include vp-1199 {
    margin-left: 30px;
    min-height: 390px;
    width: 324px;
  }

  @include vp-767 {
    display: none;
  }
}

.promo__social {
  align-self: flex-end;
  margin-left: auto;
  margin-bottom: 30px;

  @include vp-1199 {
    display: none;
  }
}

.promo__social a {
  display: inline-block;
  padding: 10px;
  margin-right: -10px;
}
