.supergames__container {
  display: grid;
  grid-template-columns: auto 1fr;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.supergames__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-1199 {
    min-height: 292px;
  }
}

.supergames__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
  padding: 87px 78px 84px;
  background-color: $color-basic-red;
  color: $color-default-white;

  @include vp-1199 {
    width: 292px;
    min-height: 292px;
    padding: 52px 45px 50px;
  }

  @include vp-767 {
    width: 100%;
    min-height: 292px;
    padding: 52px 45px 50px;
  }
}

.supergames__header {
  display: flex;
}

.supergames h2 {
  font-size: 90px;
  line-height: 100%;
  letter-spacing: 0.03em;
  margin-right: auto;

  @include vp-1199 {
    font-size: 52px;
  }
}

.supergames__schedule {
  margin: 0;
}

.supergames dt {
  font-size: 18px;
  line-height: 100%;
  margin-top: -1px;
  padding-bottom: 8px;

  @include vp-1199 {
    font-size: 12px;
    padding-bottom: 4px;
  }
}

.supergames dd {
  display: inline-block;
  border-top: 1px solid $color-default-white;
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;

  @include vp-1199 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 7px;
  }
}

.supergames__date::after {
  display: inline-block;
  max-width: 40px;
  width: min-content;
  margin-left: 7px;
  content: "Марта 2019";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;

  @include vp-1199 {
    font-size: 10px;
    line-height: 120%;
    margin-left: 3px;
    width: min-content;
  }
}

.supergames p {
  font-size: 18px;
  margin-top: -5px;

  @include vp-1199 {
    font-size: 12px;
    margin-top: -7px;
  }
}

.supergames a {
  display: block;
  margin-top: auto;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  padding: 25px;
  border: 4px solid $color-default-white;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;

  @include vp-1199 {
    padding: 12px;
    border: 2px solid $color-default-white;
    font-size: 10px;
    line-height: 12px;
  }

  &:hover {
    background-color: $color-default-white;
    color: $color-basic-blue;
  }
}
