.trainers {
  padding-top: 0;

  @include vp-1199 {
    padding-top: 0;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.trainers__slider-wrapper {
  position: relative;
  max-width: 1295px;
  margin: 0 auto;

  @include vp-1199 {
    margin: 0 35px;
  }

  @include vp-767 {
    margin: 0;
  }
}

.trainers__slider-container {
  max-width: 1160px;
  box-sizing: content-box;
  margin: 0 auto;
  margin-top: 51px;

  @include vp-1199 {
    margin: 0 65px;
    margin-top: 40px;
  }

  @include vp-767 {
    margin: 0 46.5px;
    margin-top: 43px;
  }
}

.trainers__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.trainers--nojs .trainers__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.trainers__slider-button {
  color: $slider-grey;

  @include vp-767 {
    scale: 0.7;
  }
}

.trainers--nojs .trainers__slider-button {
  display: none;
}
