// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-torch-red:                   #ff1553;
$color-basic-red: #ed0233;
$color-special-red: #d10a42;
$color-basic-blue: #102654;
$color-light-blue: #103aae;
$color-deep-blue: #000145;
$color-neon-blue: #2e35ac;
$color-special-blue: #1c3374;
$color-basic-grey: #f8f9fC;
$color-special-grey: #b6bdcc;
$color-light-grey: #e8e8e8;
$slider-grey: #afafaf;
$bar-grey: rgba(120, 120, 120, 0.2);


// Gradient

$black-to-right: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$promo-conic-gradient: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
$basic-gradient: linear-gradient(97deg, #ED0233 17.6%, #003EB7 95.31%);
$feature-gradient: linear-gradient(142.51deg, #D10A42 0%, #0041CA 87.33%);
$diagonal-gradient: linear-gradient(135deg, #D10A42 0%, #003EB7 100%);
$play-gradient: linear-gradient(44.89deg, #003D85 25.38%, #B80027 74.89%);
$play-hover-gradient: linear-gradient(90deg, #003D85 25.38%, #B80027 74.89%);

// Typography
// ---------------------------------

$font-bebas: "Bebas Neue", "Tahoma", sans-serif;
$font-roboto: "Roboto Condensed", "Arial", sans-serif;

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-768:                            768px;
$vp-1200:                           1200px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
